@model WebServer.Models.ConnectionStringViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/Content/EZReporting.css" type="text/css" />
}

<input id="CONNECTION_STRINGS_LOAD_ENDPOINT"   type="hidden" value="@Url.Action("GetConnectionStrings", "ConnectionString")" />
<input id="CONNECTION_STRINGS_UPDATE_ENDPOINT" type="hidden" value="@Url.Action("Update", "ConnectionString")" />
<input id="CONNECTION_STRINGS_CREATE_ENDPOINT" type="hidden" value="@Url.Action("Create", "ConnectionString")" />
<input id="CONNECTION_STRINGS_DELETE_ENDPOINT" type="hidden" value="@Url.Action("Delete", "ConnectionString")" />


<div id="app">

    <div class="col-sm-offest-3 col-sm-6 pull-right">
        <span class="pull-right">
            <a href="@Url.Action("Index", "Home")">Home</a>
        </span>
    </div>
    
    <!-- CREATE -->
    <div class="col-sm-offset-3 col-sm-6 ez-panel">
        <div class="ez-panel-head">
            Create
        </div>
        <div class="ez-panel-body">
            <input id="inpCreateName" type="text" />
            <input id="inpCreateValue" type="text" />
            <button id="btnCreate" type="button" class="btn btnDefault" v-on:click="create">Create</button>
        </div>
    </div>
    
    <!-- EDIT -->
    <div class="col-sm-offset-3 col-sm-6 ez-panel">
        <div class="ez-panel-head">
            Edit
        </div>
        <div class="ez-panel-body">
            <select id="slctCreate" v-model="connectionStrings"></select>
            <input id="inpEditName" type="text" />
            <input id="inpEditValue" type="text" />
            <button id="btnEdit" type="button" class="btn btnDefault">Create</button>
        </div>
    </div>
    
    <!-- DELETE -->
    <div class="col-sm-offset-3 col-sm-6 ez-panel">
        <div class="ez-panel-head">
            Delete
        </div>
        <div class="ez-panel-body">
            <select id="slctDelete" v-model="connectionStrings"></select>
            <input id="inpDeleteName" type="text" />
            <input id="inpDeleteValue" type="text" />
            <button id="btnDelete" type="button" class="btn btnDefault">Delete</button>
        </div>
    </div>

</div>

@section scripts {
    <script src="~/Scripts/ConnectionString/dist/bundle.js"></script>
}