@model WebServer.Models.HomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/Content/EZReporting.css" type="text/css" />
}

<h2 class="text-center">EZReporting Data Helper</h2>
<h5 class="text-center">Use the controls below to create or edit reports, connections strings, table styles, etc.</h5>
<div class="row text-center">

    <!-- Report Panel -->
    <div class="col-sm-offset-3 col-sm-6 ez-panel">
        <div class="ez-panel-head">
            Report
        </div>
        <div class="ez-panel-body">
            <a class="btn btn-default" href="~/CreateReport">Create</a>
            <span>or</span>
            <div style="display:inline-block;width:250px;vertical-align:bottom;">
                <div class="input-group form-inline">
                    <select id="slctReports" class="form-control">
                        <option value="__NONE__">Select a Report...</option>
                        @foreach(var report in Model.Reports) {
                            <option value="@report.ReportName">@report.ReportName</option>
                        }
                    </select>
                    <a id="btnEditReport" class="btn btn-default input-group-addon" data-target="@Url.Action("Index","EditReport")">Edit</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Table Style Panel -->
    <div class="col-sm-offset-3 col-sm-6 ez-panel">
        <div class="ez-panel-head">
            Table Style
        </div>
        <div class="ez-panel-body">
            <a class="btn btn-default" href="~/CreateTableStyle">Create</a>
            <span>or</span>
            <div style="display:inline-block;width:250px;vertical-align:bottom;">
                <div class="input-group form-inline">
                    <select id="slctTableStyles" class="form-control">
                        <option value="__NONE__">Select a Table Style...</option>
                        @foreach(var style in Model.TableStyles) {
                            <option value="@style.Name">@style.Name</option>
                        }
                    </select>
                    <a id="btnEditReportStyle" class="btn btn-default input-group-addon" data-target="@Url.Action("Index","EditReportStyle")">Edit</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Connection String Panel -->
    <div class="col-sm-offset-3 col-sm-6 ez-panel">
        <div class="ez-panel-head">
            Connection String
        </div>
        <div class="ez-panel-body">
            <div style="display:inline-block;width:250px;vertical-align:bottom;">
                <a id="btnConnectionStrings" class="btn btn-default" href="/ConnectionString/Index">Edit</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Home.js" type="text/javascript"></script>
}